<mat-card class="example-card">
    <mat-card-content>  
            <div>
                    <mat-form-field >
                      <input [(ngModel)]= "email" name = "email" matInput placeholder="email" value="" required>
                        <mat-hint>Your email</mat-hint>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                   </div>
                   <div>
                    <mat-form-field >
                      <input [(ngModel)]= "password" name = "password" matInput placeholder="password" value="" required>
                        <mat-hint>Your password</mat-hint>
                        <mat-error *ngIf="passwordFormControl.hasError('required')">
                          Password is <strong>required</strong>
                          </mat-error>
                    </mat-form-field>
                   </div>
                    <p class="error" *ngIf="code =='auth/user-not-found'">{{message}}</p>
                    <p class="error" *ngIf="code =='auth/wrong-password'">{{message}}</p>
                   <div><br>
                   <button mat-raised-button color="primary" (click) = "login()">
                    Log in
                   </button>
                   </div>
                   


</mat-card-content>
</mat-card>
