
<mat-card class="example-card">
    <mat-card-content>  



<a *ngIf="!(authService.user | async)" routerLink = "/login">Login</a>-


<a routerLink = "/register">Register</a>-
<a routerLink = "/books">Books</a>-



<button *ngIf="authService.user | async" (click) = "toLogout()"> 
 logout
</button>


</mat-card-content>
</mat-card>