
<mat-card class="example-card">
    <mat-card-content>  
        <p *ngIf="!(authService.user | async)">
            <a routerLink = "/register">register</a> or <a routerLink = "/login">Login</a> to manage your reading list
          </p>
          <div *ngIf="authService.user | async">
              <h1> Welcome {{(authService.user | async)?.displayName}}</h1>
              <!--<h1> Welcome {{nickname}}</h1>-->
              <div>
                  <mat-form-field>
                    <input [(ngModel)] = "name" matInput type = "name" placeholder="name of the book">
               
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                      <input [(ngModel)] = "authName" matInput type = "authName" placeholder="author name">
                 
                    </mat-form-field>
                    <br>
                      <button mat-raised-button (click) = "addBook()"> Add Book </button>
                 </div>

              <p>your books are:</p>

              <ul>
                 <book *ngFor = "let book of books"
                 [data] = "book" ></book>
               </ul>
             </div>


</mat-card-content>
</mat-card>
