<li (mouseenter)="show()"
(mouseleave)="hide()">

<mat-checkbox   [(ngModel)]="checkboxFlag" (change) = "checkChange()"></mat-checkbox><span></span>
  
  <span *ngIf="!showEditField"(click) = "showEdit()">{{name}}</span>
  <br>
<mat-form-field *ngIf="showEditField" class="example-form ">
    <input [(ngModel)]="name" name="text1" matInput placeholder="name of the book">
  
  </mat-form-field>
  
<mat-form-field *ngIf="showEditField" class="example-form ">

  <input [(ngModel)]="authName" name="text2" matInput placeholder="name of the author">
</mat-form-field>
  <button *ngIf="showEditField" mat-raised-button  color="primary" (click) = "save()"> save</button>
  <button *ngIf="showEditField" mat-raised-button  color="primary" (click) = "cancel()"> cancel</button>

  <p *ngIf="showTheText">{{authName}}</p>
 
                
   </li>