
<form class="example-form">

    
        <mat-form-field class="example-form ">
          <input [(ngModel)]="name" name="name" matInput placeholder="first name" value="" required>
          <mat-error *ngIf="nameFormControl.hasError('required')">
             Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
      
        <mat-form-field class="example-form ">
                <input [(ngModel)]="nickname" name="nickname" matInput placeholder="nick name" value="" required>
                <mat-error *ngIf="nicknameFormControl.hasError('required')">
                   nickname is <strong>required</strong>
                  </mat-error>
              </mat-form-field>

        <mat-form-field class="example-form ">
          <input [(ngModel)]="email" name="email" matInput placeholder="email" value="" required>
          <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    
        <p class="error" *ngIf="code =='auth/invalid-email'">{{message}}</p>
        <p class="error" *ngIf="code =='auth/email-already-in-use'">{{message}}</p>
        
      
    
        <mat-form-field class="example-form ">
          <input [(ngModel)]="password" name="password" matInput placeholder="password" value="" required>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <p class="error" *ngIf="code =='auth/weak-password'">{{message}}</p>

        <mat-form-field class="example-form ">
            <input [(ngModel)]="password" name="password" matInput placeholder="password validation" value="" required>
            <mat-error *ngIf="password2FormControl.hasError('required')">
              Password is <strong>required</strong>
              </mat-error>
          </mat-form-field>
       <!-- <div class = "error" *ngIf = "wrong != ''">{{wrong}}</div>-->

        <button mat-raised-button  color="primary" (click) = "signup()"> sign up</button>
      
      </form>
<!--
<mat-card class="example-card">
    <mat-card-content>  
            <form class="example-form">
                 
                    

                     <mat-form-field class="example-form ">
                            <input [(ngModel)]= "email" name = "email" matInput placeholder="email" value="">
                              <mat-hint>Your email</mat-hint>
                          </mat-form-field>
                          <p class="error" *ngIf = "code == 'auth/invalid-email'">{{message}}</p>
                          <mat-form-field class="example-form ">
                            <input [(ngModel)]= "password" name = "password" matInput placeholder="password" value="">
                              <mat-hint>Your password</mat-hint>
                          </mat-form-field>
                          <p class="error" *ngIf = "code == 'auth/weak-password'">{{message}}</p>
                       
                  
                   <button mat-raised-button color="primary" (click) = "signup()">
                     Sign Up
                   </button>
                  </form>
</mat-card-content>
</mat-card>-->

